---
layout: archive
author_profile: true
---

{% include base_path %}

<h3 class="archive__subtitle">Entrées récentes dans le blog</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% comment %}
Test de categories
{% endcomment %}

<h1>Archive of posts with {{ site.type }} '{{ site.title }}'</h1>
<ul class="posts">
  {% for post in site.posts %}
    <li>
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>


{% for category in site.categories %}
     <div class="catbloc" id="{{ category | first | remove:' ' }}">
         <h2>Archive of posts in '{{ category | first }}'</h2>
          <ul>
            {% for posts in category %}
              {% for post in posts %}
                {% if post.url %}
                  <li>
                    <a href="{{ post.url }}">
                      <time>{{ post.date | date: "%-d %B %Y" }}</time>
                      {{ post.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
         </ul>
     </div>
{% endfor %}


{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}


{% include paginator.html %}
